<br/>
<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            BlowOut Instrument Rentals is the oldest established family music store in Utah. Founded in 1936, our commitment to music education and quality products has made us one of the finest music retail stores in the country.
            We support school music programs throughout the valley and want to help you any way we can. At BlowOut Instrument Rentals, we understand that your success is our success. Therefore, we make extraordinary efforts to be sure that the instrument you receive is properly set up, of high quality, and will meet the requirements to provide an enjoyable musical experience. We understand that you are making an investment. Likewise, we want to be sure we are making a reciprocal investment in you, our valued customer.
            Music is fun and exciting. Choosing the right instrument for that experience is very important. With one of the largest selections of instruments available anywhere, we will find the one that is just right for you. Please feel free to contact our store with any concerns you might have and we’ll be more than happy to assist with your music needs.
        </div>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Saxophone.jpg" />
    </div>
</div>