<br />

<div class="row">
    <div class="col-md-4">
        <a href=@Url.Action("Trumpet", "Home")><img src="~/Content/trumpet.jpg" class="img-fluid" /></a>
    </div>
    <div class="col-md-4">
        <a href=@Url.Action("Trombone", "Home")><img src="~/Content/trombone.jpg" class="img-fluid" /></a>
    </div>
    <div class="col-md-4">
        <a href=@Url.Action("Tuba", "Home")><img src="~/Content/tuba.jpg" class="img-fluid" /></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href=@Url.Action("Flute", "Home")><img src="~/Content/flute.jpg" class="img-fluid" /></a>
    </div>
    <div class="col-md-4">
        <a href=@Url.Action("Clarinet", "Home")><img src="~/Content/clarinet.jpg" class="img-fluid" /></a>
    </div>
    <div class="col-md-4">
        <a href=@Url.Action("Saxophone", "Home")><img src="~/Content/saxophone.png" class="img-fluid" /></a>
    </div>
</div>

<br />